<div class="container-fluid mt-2">
    <div class="hero-wrapper">
        <div class="text-center">
            <h3>Hero's Component</h3>
        </div>
        <div class="container border border-info bg-light rounded-lg">
            <h4>{{heroObject.name | uppercase}} Details</h4>
            <div class="form-row">
                <div class="col">
                    <label for="Id">ID : </label><span id="Id">{{heroObject.id}}</span>
                </div>
                <div class="col">
                    <label for="heroName">Name: </label><input id="heroName" type="text" [(ngModel)]="heroObject.name"
                        placeholder="Hero Name">
                </div>
                <div class="col">
                    <label for="spec">Speciality: </label> <span id="spec">{{heroObject.speciality}}</span>
                </div>
            </div>
        </div>
        <div class="mt-2 container border border-warning hero-background rounded">
            <div class="text-center">
                <h4>Hero List</h4>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li *ngFor="let hero of heros" class="rounded-pill" [class.selected]="hero === selectedHero"
                            (click)="onSelect(hero)">
                            <span> {{hero.id}} </span>
                            {{hero.name}}
                        </li>
                    </ul>
                </div>
                <div class="col-md-6" *ngIf="selectedHero">
                    <!-- <app-hero-detail [heroDetail]="selectedHero"></app-hero-detail>  -->

                    <div class="border border-info bg-light rounded-lg mt-2 p-3 d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            {{selectedHero.name}}&nbsp; Details
                        </div>
                        <button class="btn btn-info" routerLink="/detail/{{selectedHero.id}}"> View
                            Details</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>